[submodule "minusDarwin"]
	path = minusDarwin
	url = https://github.com/UAQpqd/minusDarwin.git
[submodule "synthSignal"]
	path = synthSignal
	url = https://github.com/UAQpqd/synthSignal.git
[submodule "DSPFilters"]
	path = DSPFilters
	url = https://github.com/vinniefalco/DSPFilters.git
